.cart-container {
  margin: 10px 70px;
}






.fees {
  width: 25%;

  p {
    font-size: 24px;

    span {
      font-weight: bold;
      font-size: 24px;
    }
  }

  button {
    width: 100%;
    border: none;
    padding: 16px 32px;
    background-color: #5ECE7B;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    outline: none;
    cursor: pointer;
  }
}