// extendables 

// product details

%p-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  padding: 24px 0;
}

%p-details {
  width: 45%;
}

%p-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 30px;
}

%p-subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}

%p-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}

%p-sizes {
  width: 100%;
  display: flex;
}

%p-size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 40px;
  border: 1px solid #1D1F22;
}

%size-disabled {
  border: 1px solid #A6A6A6;
  color: #A6A6A6;
}

%size-selected {
  background-color: #1D1F22;
  border: 1px solid #1D1F22;
  color: white;
}

%p-colors {
  width: 100%;
  display: flex;
  align-items: center;
}

%p-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

%active-color {
  border: 2px solid #5ECE7B;
}

// product actions

%p-actions {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

%p-controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

%operators {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: lighter;
  border: 1px solid #1D1F22;
}

%p-img {
  width: 50%;
  display: flex;
}

%image {
  width: 100%;
  justify-self: flex-end;
}

// close btn

%close {
  background-color: black;
  width: 1%;
  height: 10px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  // display: none;
}

// common classes
%empty {
  font-weight: 300;
  color: lightgray;
  text-align: center;
}