.mini-cart, .products-cart {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  padding: 24px 0;
}

.mini-details, .product-details {
  width: 45%;
}

.mini-title, .product-details .products-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 30px;
}

.mini-subtitle, .product-details .products-subtitle {
  font-weight: 400;
  font-size: 30px;
  line-height: 27px;
}

.mini-price, .product-details .products-price {
  font-weight: 700;
  font-size: 24px;
  line-height: 18px;
}

.mini-sizes, .product-details .products-sizes {
  width: 100%;
  display: flex;
}

.mini-sizes .mini-size, .product-details .products-sizes .products-size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65px;
  height: 40px;
  border: 1px solid #1d1f22;
}

.mini-sizes .disabled, .product-details .products-sizes .disabled {
  border: 1px solid #a6a6a6;
  color: #a6a6a6;
}

.mini-sizes .selected, .product-details .products-sizes .selected {
  background-color: #1d1f22;
  border: 1px solid #1d1f22;
  color: white;
}

.mini-colors, .product-details .products-colors {
  width: 100%;
  display: flex;
  align-items: center;
}

.mini-color, .product-details .products-colors .products-color {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}

.active, .product-details .products-colors .active {
  border: 2px solid #5ece7b;
  padding: 1px;
}

.mini-actions, .products-actions {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.mini-actions .controls, .products-actions .controls {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
  cursor: pointer;
}

.mini-actions .controls .plus,
.mini-actions .controls .minus, .products-actions .controls .plus,
.products-actions .controls .minus {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: lighter;
  border: 1px solid #1d1f22;
}

.mini-actions .mini-img, .products-actions .product-img {
  width: 50%;
  display: flex;
}

.mini-actions .mini-img img, .products-actions .product-img img {
  width: 100%;
  justify-self: flex-end;
}

.mini-close, .products-close {
  background-color: black;
  width: 1%;
  height: 10px;
  padding: 10px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.empty-msg {
  font-weight: 300;
  color: lightgray;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-details .products-sizes {
  gap: 15px;
}
.product-details .products-colors {
  gap: 15px;
}
.products-actions .product-img img {
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center center;
     object-position: center center;
}
.products-actions .product-img .carousel {
  position: relative;
  width: 50%;
}
.products-actions .product-img .carousel .arrows {
  position: absolute;
  bottom: 10px;
  right: 20px;
  display: flex;
  justify-content: space-between;
  width: 56px;
}
.products-actions .product-img .carousel .left,
.products-actions .product-img .carousel .right {
  width: 24px;
  height: 24px;
  background-color: #1d1f22;
  color: white;
  opacity: 0.7;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.products-close p {
  color: white;
  font-weight: 100;
}

.mini-cart {
  border: none;
}

.mini-details {
  width: 32%;
}

.mini-title {
  font-weight: normal;
  font-size: 16px;
}

.mini-subtitle {
  font-size: 16px;
}

.mini-price {
  font-weight: 600;
  font-size: 16px;
}

.mini-sizes {
  gap: 10px;
}
.mini-sizes .mini-size {
  font-size: 10px;
  width: 24px;
  height: 24px;
}
.mini-colors {
  width: 100%;
  gap: 10px;
}

.mini-color {
  width: 16px;
  height: 16px;
}

.mini-actions {
  width: 60%;
  justify-content: flex-start;
}
.mini-actions .controls .plus,
.mini-actions .controls .minus {
  width: 24px;
  height: 24px;
  font-size: 16px;
}
.mini-actions .mini-img {
  width: 100%;
}
.mini-actions .mini-img img {
  -o-object-fit: contain;
     object-fit: contain;
}

.mini-close {
  width: 5px;
  height: 5px;
}
.mini-close p {
  color: white;
  font-size: 12px;
}/*# sourceMappingURL=cart-details.css.map */