$font-family: 'Raleway',
sans-serif;

$primary-color: #5ECE7B;
$accent-color: black;

// nav items variables
$border-bottom: 3px solid $primary-color;
$category-title-size: 42px;
$category-color: #1D1F22;
$box-shadow: 2px 2px 20px 8px #a8acb030;